@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #11071F;
/* background-color: #696174; */
color: aliceblue;
font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about-text {
  color: red;
}
/* 
h1 {
  font-family: 'Poppins', sans-serif
} */
